.md-table {
  white-space: nowrap;
  text-align: center;

  .md-table-head {
    text-align: center;
  }

  .md-table-head-label {
    padding: 0 10px;
  }

  .md-table-cell-container {
    padding: 6px 10px;
  }
}
